* {
  margin: 0px;
  padding: 0px;
}

#title {
  margin: 20px 0 20px 20px;
}
#color-palette, #pixel-board {
  margin-left: 20px;
}

#pixel-board {
  margin-top: 20px;
}

.color, .pixel {
  margin: 0 5px 0 0;
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.red {
  display: inline-block;
  background-color: red;
}

.green {
  display: inline-block;
  background-color: green;
}

.blue {
  display: inline-block;
  background-color: blue;
}

.black {
  display: inline-block;
  background-color: black;
}

.white {
  display: inline-block;
  background-color: white
}

.selected {
  box-shadow:  0px 0px 5px 2px white inset;
}

#pixel-board {
  width: 240px;
}